body{
  background-color:#F4F4F5
}


section h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
  color: #003063;
  display: flex;
  justify-content: center;
}

table.section-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.DataUsers {
  display: flex;
}

/* Estilo base da tabela */
table {
  width: 100%;
  border-collapse: collapse;
}


th, td {
  padding: 6px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: white;
}


thead {
  background-color:white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

tbody tr {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.buttonEditUser{
  background-color: #FFCD00;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: white;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 2rem;
}
.buttonDeleteUser{
  background-color: #003063;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: white;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



@media (max-width: 768px) {
  table {
    display: flex;
    justify-content: center;
  }
  .logoImg{ 
    display: hidden;
  }

  th, td {
    width: 100%;
    display: block;
  }

  thead {
    display: none; 
  }

  tr {
    margin-bottom: 12px;
    border: 1px solid #ddd;
  }

  td:before {
    content: attr(data-label);
    font-weight: bold;
    
  }
  td button{ 
    padding-right: 1rem;
  }
}