
/* Estilos para o Navbar */

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--bg);
}
.NavbarRegister {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--bg);
  background-color: white;
}

.SearchUsers {
  flex: 1; 
  margin-right: 10px;
}

/* Estilos para a tabela */
.section-grid {
  margin: 20px; 
  overflow-x: auto; 
}



/* Estilos para telas menores */
@media (max-width: 760px) {
  .section-grid {
    margin: 10px; 
  }
}
.Navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.NavbarRegister button {
  margin-top: .25rem;
}

.Navbar button {
  margin-top: .25rem;
}
.container-edit {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
input.SearchUsers {
  margin-top: .5rem;
  width: 531px;
  height: 40px;
  flex-shrink: 0;
}

.Navbar img {
  background-color: white;
}

@media (max-width: 768px) {
  .Navbar {
    width: 100vw;
    background-color: white;
    
  }  
  .logoImg{
    display: none;
  }


}

.ButtonBackRegister {
  display: inline-flex;
  height: auto;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  background-clip: padding-box;
  background-color: #FFCD00;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.ButtonBackRegister:hover,
.ButtonBackRegister:focus {
  background-color: #FFCD00;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.ButtonBackRegiste:hover {
  transform: translateY(-1px);
}

.ButtonBackRegiste:active {
  background-color: #FFCD00;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
@media (max-width: 500px) {

  input.SearchUsers {
    margin-top: 0.5rem;
    width: 65%;
    height: 40px;
    flex-shrink: 0;
}

} 

